
<nav class="navbar__container">
  <ul class="navbar-list">
    <li class="navbar-list-item"><a class="navbar-link" [navi]="this.store.store.data.href.dashboard"><span class="navbar-icon dashboard"></span></a></li>
    <li class="navbar-list-item"><a class="navbar-link" [navi]="this.store.store.data.href.messages"><span class="navbar-icon messages"></span></a></li>
    <li class="navbar-list-item"><a class="navbar-link" [navi]="this.store.store.data.href.account"><span class="navbar-icon account"></span></a></li>
  </ul>
</nav>